<div class="welcome-container">
  <h1>Cartodex</h1>
  <p>Your Pokémon Trading Card Game Manager</p>

  <div class="auth-buttons">
    <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-secondary" %>
  </div>
</div>
